<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anand.ytvolley">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity1">
            <intent-filter>

                <!--
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
                -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration">
            <intent-filter>
                <action android:name="x1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".login_success">
            <intent-filter>
                <action android:name="x3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginorRegister">
            <intent-filter>
                <action android:name="loginorregister" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Butmenu" />
        <activity android:name=".Help" />
        <activity android:name=".Coding_Winners" />
        <activity android:name=".ppt_winners" />
        <activity android:name=".Jam_winners" />
        <activity android:name=".expo_winners" />
        <activity android:name=".quiz_winners" />
        <activity android:name=".Coordinatorsfinal" />
        <activity android:name=".Appinfo" />
        <activity android:name=".userview" />
        <activity android:name=".userview2" />
        <activity android:name=".userview3" />
        <activity android:name=".userview4" />
        <activity android:name=".userview5" />
        <activity android:name=".Clubs" />
        <activity android:name=".Innovations" />
        <activity android:name=".gallery" />
        <activity android:name=".Working" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>